@model IEnumerable<MobilityPickUpPoint>

@{
    ViewData["Title"] = "Pickup Point";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Mobility" asp-controller="PickupPoint" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Pickup Point
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped" id="dataTable">
            <thead>
            <tr class="text-nowrap">
                <th>
                    Depot
                </th>
                <th>
                    Supplier
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Depot
                    </td>
                    <td>
                        @obj.Supplier?.SupplierName
                    </td>
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-area="Mobility" asp-controller="PickupPoint" asp-action="Edit" asp-route-id="@obj.PickUpPointId" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>