@model MobilityCustomerPurchaseOrder

@{
    ViewData["Title"] = "Customer Purchase Order - Create";
    var stationCode = ViewData["StationCode"] as string;
}

<div class="card shadow border-0 mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border-2 p-3">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="row pt-2">
                    <div class="form-floating py-2 px-2 col-12">
                        <input type="date" value="@DateTimeHelper.GetCurrentPhilippineTime().ToString("yyyy-MM-dd")" asp-for="Date" class="form-control border-0 shadow" placeholder="" />
                        <label class="ms-2">Date<span class="required">*</span></label>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="form-group py-2 col-12">
                        <label class="control-label">Customer<span class="required">*</span></label>
                        <select asp-for="CustomerId" asp-items="@Model.Customers" class="form-select js-select2 border-0 shadow" style="width:100%">
                            <option value="" selected disabled>Select Station</option>
                        </select>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="form-group py-2 col-6">
                        <label class="control-label">Product List<span class="required">*</span></label>
                        <select asp-for="ProductId" asp-items="@Model.Products" class="form-select js-select2 border-0 shadow" style="width:100%">
                            <option value="" selected disabled>Select product</option>
                        </select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 px-2 col-6">
                        <input asp-for="Amount" class="form-control border-0 shadow" placeholder="" id="Amount" readonly />
                        <label asp-for="Amount">Total Amount<span class="required">*</span></label>
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="form-floating py-2 px-2 col-6">
                        <input asp-for="Quantity" class="form-control border-0 shadow" placeholder="" min="1" required />
                        <label asp-for="Quantity" class="ms-2">Liters<span class="required">*</span></label>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 px-2 col-6">
                        <input asp-for="Price" class="form-control border-0 shadow" placeholder="" min="1" required />
                        <label asp-for="Price">Price per Liter<span class="required">*</span></label>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Mobility" asp-controller="CustomerPurchaseOrder" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('input[name="Quantity"], input[name="Price"]').on('input', function () {
                var quantity = $('input[name="Quantity"]').val();
                var price = $('input[name="Price"]').val();
                var amount = quantity * price;
                $('input[name="Amount"]').val(amount);
            });
        });
    </script>
}