@model AdjustReportViewModel

@{
    ViewData["Title"] = "Cashier Report - Adjustment";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group py-2 col-12">
                    <label class="control-label">Offline List</label>
                    <select asp-for="SelectedOfflineId" id="OfflineNo" asp-items="@Model.OfflineList" class="form-select js-select2 border-0 shadow" style="width:100%" required>
                        <option value="" selected></option>
                    </select>
                </div>
                <fieldset>
                    <div class="row">
                        <div class="row col-6" style="border-right: 1px solid #ddd;">
                            <p class="text-center">BEFORE</p>
                            <div class="form-floating py-2 col-md-6">
                                <input asp-for="FirstDsrClosingBefore" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                                <label asp-for="FirstDsrClosingBefore" id="FirstDsrClosingBeforeLabel" class="ms-2"></label>
                                <span asp-validation-for="FirstDsrClosingBefore" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-md-6">
                                <input asp-for="FirstDsrOpeningBefore" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                                <label asp-for="FirstDsrOpeningBefore" id="FirstDsrOpeningBeforeLabel" class="ms-2"></label>
                                <span asp-validation-for="FirstDsrOpeningBefore" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row col-6" style="margin-left: 10px;">
                            <p class="text-center">AFTER</p>
                            <div class="form-floating py-2 col-md-6">
                                <input asp-for="FirstDsrClosingAfter" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                                <label asp-for="FirstDsrClosingAfter" id="FirstDsrClosingAfterLabel" class="ms-2"></label>
                                <span asp-validation-for="FirstDsrClosingAfter" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-md-6">
                                <input asp-for="FirstDsrOpeningAfter" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                                <label asp-for="FirstDsrOpeningAfter" id="FirstDsrOpeningAfterLabel" class="ms-2"></label>
                                <span asp-validation-for="FirstDsrOpeningAfter" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row col-6" style="border-right: 1px solid #ddd;">
                            <div class="form-floating py-2 col-md-6">
                                <input asp-for="SecondDsrClosingBefore" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                                <label asp-for="SecondDsrClosingBefore" id="SecondDsrClosingBeforeLabel" class="ms-2"></label>
                                <span asp-validation-for="SecondDsrClosingBefore" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-md-6">
                                <input asp-for="SecondDsrOpeningBefore" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                                <label asp-for="SecondDsrOpeningBefore" id="SecondDsrOpeningBeforeLabel" class="ms-2"></label>
                                <span asp-validation-for="SecondDsrOpeningBefore" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row col-6" style="margin-left: 10px;">
                            <div class="form-floating py-2 col-md-6">
                                <input asp-for="SecondDsrClosingAfter" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                                <label asp-for="SecondDsrClosingAfter" id="SecondDsrClosingAfterLabel" class="ms-2"></label>
                                <span asp-validation-for="SecondDsrClosingAfter" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-md-6">
                                <input asp-for="SecondDsrOpeningAfter" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                                <label asp-for="SecondDsrOpeningAfter" id="SecondDsrOpeningAfterLabel" class="ms-2"></label>
                                <span asp-validation-for="SecondDsrOpeningAfter" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group py-2 col-12">
                    <label>Select what DSR will be affected.</label><br />
                    <div id="DSROptions">
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Submit</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Mobility" asp-controller="CashierReport" asp-action="Index" class="btn btn-outline-primary border form-control ">Back to List</a>
                    </div>
                </div>
            </div>
        </form>

        <div class="border p-3 mt-4">
            <h4>Offline Details</h4>
            <table class="table table-bordered" id="OfflineDetailsTable" style="display:none;">
                <tbody>
                    <tr>
                        <th>Closing Date</th>
                        <td id="StartDate"></td>
                    </tr>
                    <tr>
                        <th>Opening Date</th>
                        <td id="EndDate"></td>
                    </tr>
                    <tr>
                        <th>Product</th>
                        <td id="Product"></td>
                    </tr>
                    <tr>
                        <th>Pump</th>
                        <td id="Pump"></td>
                    </tr>
                    <tr>
                        <th>Closing</th>
                        <td id="DetailClosing"></td>
                    </tr>
                    <tr>
                        <th>Opening</th>
                        <td id="DetailOpening"></td>
                    </tr>
                    <tr>
                        <th>Liters</th>
                        <td id="Liters"></td>
                    </tr>
                    <tr>
                        <th>Remaining Balance</th>
                        <td id="RemainingBalance"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#OfflineNo').change(function () {
                var selectedId = $(this).val();
                if (selectedId) {
                    $.ajax({
                        url: '@Url.Action("GetOfflineDetails", "CashierReport")',
                        type: 'GET',
                        data: { offlineId: selectedId },
                        success: function (data) {

                            $('#FirstDsrClosingBefore').val(data.firstDsrClosingBefore);
                            $('#FirstDsrOpeningBefore').val(data.firstDsrOpeningBefore);
                            $('#SecondDsrClosingBefore').val(data.secondDsrClosingBefore);
                            $('#SecondDsrOpeningBefore').val(data.secondDsrOpeningBefore);

                            $('#FirstDsrClosingBeforeLabel').text(data.firstDsrNo + ' ' + 'CLOSING');
                            $('#FirstDsrOpeningBeforeLabel').text(data.firstDsrNo + ' ' + 'OPENING');
                            $('#FirstDsrClosingAfterLabel').text(data.firstDsrNo + ' ' + 'CLOSING');
                            $('#FirstDsrOpeningAfterLabel').text(data.firstDsrNo + ' ' + 'OPENING');

                            $('#SecondDsrClosingBeforeLabel').text(data.secondDsrNo + ' ' + 'CLOSING');
                            $('#SecondDsrOpeningBeforeLabel').text(data.secondDsrNo + ' ' + 'OPENING');
                            $('#SecondDsrClosingAfterLabel').text(data.secondDsrNo + ' ' + 'CLOSING');
                            $('#SecondDsrOpeningAfterLabel').text(data.secondDsrNo + ' ' + 'OPENING');

                            //Details
                            $('#StartDate').text(data.startDate);
                            $('#EndDate').text(data.endDate);
                            $('#Product').text(data.product);
                            $('#Pump').text(data.pump);
                            $('#DetailOpening').text(formatNumber(data.secondDsrOpeningBefore));
                            $('#DetailClosing').text(formatNumber(data.firstDsrClosingBefore));
                            $('#Liters').text(formatNumber(data.liters));
                            $('#RemainingBalance').text(formatNumber(data.balance));

                            // Clear previous options
                            $('#DSROptions').empty();

                            // Add the combined options
                            $('#DSROptions').append('<label><input type="radio" name="AffectedDSRNo" id="ClosingDsr" value="' + data.firstDsrNo + '" required> ' + data.firstDsrNo + '</label><br />');
                            $('#DSROptions').append('<label><input type="radio" name="AffectedDSRNo" id="OpeningDsr" value="' + data.secondDsrNo + '"> ' + data.secondDsrNo + '</label><br />');

                            // Show the table
                            $('#OfflineDetailsTable').show();
                        }
                    });
                } else {
                    $('#Opening').val('');
                    $('#Closing').val('');
                    $('#OfflineDetailsTable').hide();

                    $('#FirstDsrClosingBeforeLabel').text('');
                    $('#FirstDsrOpeningBeforeLabel').text('');
                    $('#FirstDsrClosingAfterLabel').text('');
                    $('#FirstDsrOpeningAfterLabel').text('');

                    $('#FirstDsrClosingAfter').val('');
                    $('#FirstDsrOpeningAfter').val('');
                    $('#SecondDsrClosingAfter').val('');
                    $('#SecondDsrOpeningAfter').val('');
                }
            });

            // Bind change event to radio buttons
            $(document).on('change', 'input[name="AffectedDSRNo"]', updateDsrValues);

            // Function to update DSR values
            function updateDsrValues() {
                var firstDsrClosingBefore = parseFloat($('#FirstDsrClosingBefore').val());
                var firstDsrOpeningBefore = parseFloat($('#FirstDsrOpeningBefore').val());
                var secondDsrClosingBefore = parseFloat($('#SecondDsrClosingBefore').val());
                var secondDsrOpeningBefore = parseFloat($('#SecondDsrOpeningBefore').val());

                var selectedDsrId = $('input[name="AffectedDSRNo"]:checked').attr('id');

                if (selectedDsrId === 'ClosingDsr') {
                    $('#FirstDsrClosingAfter').val(secondDsrOpeningBefore);
                    $('#FirstDsrOpeningAfter').val(firstDsrOpeningBefore);
                    $('#SecondDsrClosingAfter').val(secondDsrClosingBefore);
                    $('#SecondDsrOpeningAfter').val(secondDsrOpeningBefore);
                } else if (selectedDsrId === 'OpeningDsr') {
                    $('#FirstDsrClosingAfter').val(firstDsrClosingBefore);
                    $('#FirstDsrOpeningAfter').val(firstDsrOpeningBefore);
                    $('#SecondDsrClosingAfter').val(secondDsrClosingBefore);
                    $('#SecondDsrOpeningAfter').val(firstDsrClosingBefore);
                }
            }
        });
    </script>
}